body{
    background-color:#ecf0f1
}

/*ADDED FOOTER FORMATING TO KEEP STICK FOOTER HANGING ON THE BOTTOM OF THE PAGE*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

#clock {
  color: #1dd1a1;
  text-align: center;
  /*padding-top: 40px;
  padding-bottom: 40px;*/
}